.App {
  display: block;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.App > * {
  margin-bottom: 20px;
}

.App > *:last-child {
  margin-bottom: 0;
}
